/* CSS Document */

/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file. 
 */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body, h1, h2, h3, h4, a {
	font-family: 'Oxygen', sans-serif !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding:0px;
}

a {
	color:#9A0000;
	transition: all 0.4s ease;

}
a:hover {
	transition: all 0.4s ease;
	color:red;
}

section.col-sm-12 {
	margin-top:12px;
}

header#navbar {
	background: white url(../../../../default/files/wings.jpg) center top no-repeat;
	
	
	
}

header#navbar.navbar .container {
	margin-bottom:0x;border-bottom:1px solid #c1ba9d;
	padding:2% 0%;
}

header#navbar.navbar-fixed-top.navbar-default {
	border:0px;
}

.navbar-nav > li > a {
	 letter-spacing: 0.5px;
    padding: 5px 7px;
    text-transform: uppercase;
}

header#navbar.navbar .container ul.menu li a:hover {
	 background:red;
	 color:white;
}

header#navbar.navbar .container ul.menu li a.active {
	 background:#eee;
	 color:#ccc;
}


body.navbar-is-fixed-top {
	padding-top:100px !important;
}

.navbar-btn {
	margin-top:0px;
}

div.navbar-collapse.collapse {
	padding:0px;
}

.front h1.page-header {
	display:none;
}

.front h1 {
	font-size:3em;
	font-weight:300;
	letter-spacing:0.5px;
	padding:2px;
margin:0% 0% 3% 0%;
}

.front h1 span {
	padding:0px 1% .5%;
	margin-right:5px;
	font-size:1.1em;
color:#9a0000;
	background:#FFCC00;
	border-radius:6px;
	font-weight:500;
}


h1.page-header {
	border:0px;
}



h2.front-intro {
text-align:center;
padding-bottom:1.5%;
}

h4#myModalLabel.modal-title {
	line-height:100%;
	font-size:1.3em;
	letter-spacing:0.5px;
	
}

a, a:hover {
	text-decoration:none;
}

ul.menu.nav.navbar-nav {
	float:right;
}

div.modal-dialog {
	width:84%;
	min-width:300px;
	max-width:1280px;
}

div.modal-header {
background:#f1f1f1;
    border-bottom: 2px solid white;
    min-height: 16px;
    padding: 10px 15px;
}

div.modal-header  h4{
font-size:1.5em;
/* letter-spacing:.5px; */
}

h4.portfolio-title {
	text-align:center;
	margin:0px;
	padding:0px;
	border-top:1px solid red;
	background:#efefef;
}

h4.portfolio-title a{
	font-size:.7em;
	margin:0px;
	padding:5px 5px 6px;
	display:block;
}

h4.portfolio-title a:hover{
	color:white;
	background:red;
}




div.modal-body {
	padding:0px;
}

div.modal-footer {
	display:none;
}

div.modal-body img.portfolio {
	width:100%;
}

/* CAROUSEL */


 div#myCarousel.carousel div.carousel-inner  {
	height:260px;
	background: url(../../../../default/files/bird_head.png) bottom right no-repeat;
	
 }
 div#myCarousel.carousel div.carousel-inner div.item {
	height:260px;
	z-index:-1;
	background:red;
}
.carousel-control.right {
background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0px, transparent 100%);

}

.carousel-control.left {
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0px, transparent 100%);

}

.carousel-control.right span, .carousel-control.left span {
	display:none;
}

.carousel-control:hover, .carousel-control:focus {
	opacity:0.5;
}

div.carousel-caption {
	left:5%;
	right:5%;
	bottom:5%;
	text-align:left;
}

div.carousel-caption h1 {
	text-shadow:none;
}

div.carousel-caption h1 a {
background: none repeat scroll 0 0 #FFCC00;
    border-radius: 6px;
    font-size: 1.25em;
    font-weight: 400;
    margin-right: 5px;
    padding: 0 1%;
}

div.carousel-caption h1 a:hover {
background: none repeat scroll 0 0 #9a0000;
    color:white;
}

.carousel-indicators {
	bottom:5px;
}

.carousel-indicators li {
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 1%;
    text-indent: -999px;
    width: 14px;
	border:none;
}
.carousel-indicators .active {
    background-color: #FFFFFF;
    height: 14px;
    margin: 0 1%;
    width: 14px;
}

div.mccoppin-container.mccoppin-lowestbanner div.jumbotron-russian {
	background:url(../../../../default/files/responsive_1170.jpg) top left no-repeat;
	max-width:1170px;
	height:400px;
	width:100%;
	padding: 25% 0 0 4%;
	margin-top:1%;
	border-top-left-radius: 18px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 4px;
	
}

p.jt-tiny, p.jt-phone, p.jt-MCGA,
p.jt-VGA, p.jt-SVGA, p.jt-XGA, p.jt-XGA-plus,
p.jt-WXGA,
p.jt-HD,
p.jt-SXGA-plus,
p.jt-WXGA-plus,
p.jt-UXGA,
p.jt-WSXGA,
p.jt-FHD,
p.jt-QWXGA,
p.jt-QSXGA,
p.jt-QWXGA-plus,
p.jt-WQSXGA,
p.jt-QFHD,
p.jt-HXGA,
p.jt-massive 
 {
	display:none;
	color:white;
	line-height:140%;
	font-size:.9em;
}
	@media only screen and  (min-width: 0px) and (max-width: 319px) { /*TINY */
		
		p.jt-tiny {
			display:block;
		}
	}
	
	@media only screen and  (min-width: 320px) and (max-width: 480px) { /*PHONE */
	
		p.jt-phone {
			display:block;
		}
	}
	
	
		@media only screen and  (min-width: 481px) and (max-width: 639px) { /* MCGA */
		
		p.jt-MCGA {
			display:block;
		}
	}
	
		@media only screen and  (min-width: 640px) and (max-width: 799px) { /* VGA */
		
		p.jt-VGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 800px) and (max-width: 1023px) { /* SVGA */
		
		p.jt-SVGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1024px) and (max-width: 1151px) { /* WSVGA-XGA */
		
		p.jt-XGA {
			display:block;
		}
	}
	
	@media only screen and  (min-width: 900px) and (max-width: 1199px) { 
	
	div.mccoppin-container.mccoppin-lowestbanner div.jumbotron-russian {
	background:url(../../../../default/files/responsive_970.jpg) top left no-repeat;
	max-width:970px;
	height:332px;
	width:100%;
	font-size:1.35em;
}
	}
	
				@media only screen and  (min-width: 1152px) and (max-width: 1279px) { /* XGA plus */
		
		p.jt-XGA-plus {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1280px) and (max-width: 1359px) { /* WXGA-SXGA */
		
		p.jt-WXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1360px) and (max-width: 1399px) { /* HD */
		
		p.jt-HD {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1400px) and (max-width: 1439px) { /* SXGA plus */
		
		p.jt-SXGA-plus {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1440px) and (max-width: 1599px) { /* WXGA plus */
		
		p.jt-WXGA-plus {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1600px) and (max-width: 1679px) { /* HD plus and UXGA */
		
		p.jt-UXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1680px) and (max-width: 1919px) { /* WSXGA plus */
		
		p.jt-WSXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1920px) and (max-width: 2047px) { /* FHD and WUXGA */
		
		p.jt-FHD {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 2048px) and (max-width: 2559px) { /* QWXGA and 2K */
		
		p.jt-QWXGA {
			display:block;x 
		}
	}
	
			@media only screen and  (min-width: 2560px) and (max-width: 2879px) { /* WQHD and WQXGA and QSXGA */
		
		p.jt-QSXGA {
			display:block;
		}
	}
	
		@media only screen and  (min-width: 2880px) and (max-width: 3199px) { /* QWXGA plus */
		
		p.jt-QWXGA-plus {
			display:block;
		}
	}
	
		@media only screen and  (min-width: 3200px) and (max-width: 3839px) { /* WQSXGA and QUXGA */
		
		p.jt-WQSXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 3840px) and (max-width: 4095px) { /* QFHD */
		
		p.jt-QFHD {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 4096px) and (max-width: 4999px) { /* 4K and HXGA */
		
		p.jt-HXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 5000px) and (max-width: 9999px) { /* massive */
		
		p.jt-massive {
			display:block;
		}
	}