/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file. 
 */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body, h1, h2, h3, a {
	font-family: 'Oxygen', sans-serif !important;
}
a {
	color:#9A0000;
	transition: all 0.3s ease;
}
a:hover {
	transition: all 0.3s ease;
	color:red;
}

section.col-sm-12 {
	margin-top:12px;
}

header#navbar {
	background: white url(../../../../default/files/wings.jpg) center top no-repeat;
	
	
	
}

header#navbar.navbar .container {
	margin-bottom:0x;border-bottom:1px solid #c1ba9d;
	padding:2% 0% 1.5%;
}

header#navbar.navbar-fixed-top.navbar-default {
	border:0px;
}

.navbar-btn {
	margin-top:0px;
}

div.navbar-collapse.collapse {
	padding:0px;
}

.front h1.page-header {
	
}

.front h1 {
	font-size:3em;
	font-weight:300;
	letter-spacing:0.5px;
	padding:2px;
margin:3.5% 0% 3% 0%;
}

.front h1 a {
	padding:0px 1% .5%;
	margin-right:5px;
	font-weight:400;
	font-size:1.25em;

	background:#FFCC00;
	border-radius:6px;
	
}

.front h1 a:hover {
	background:red;
	color:white;
}


h2.front-intro {
text-align:center;
padding-bottom:1.5%;
}

a, a:hover {
	text-decoration:none;
}

ul.menu.nav.navbar-nav {
	float:right;
}

.container .jumbotron {/*
	background:url(../../../../default/files/responsive_1170.jpg) top left no-repeat;
	max-width:1170px;
	height:400px;
	width:100%;
	padding: 25% 0 0 4%;
	margin-top:1%; */
	border-top-left-radius: 18px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 4px;
	
}



.container div.resolution {
	width:37%;
}


div.main-container.container {
	padding:0px;
}

h4 {
	padding:0px;
	line-height:normal;
}

h4.panel-title {

	
}

h4.panel-title a {
	display:block;
    padding: 2% 3.5%;
	color:#f0e9e9;
	
}

h4.panel-title a:hover {
	display:block;
	color:white;
	font-weight:400px;
	
}


div.panel-heading {
	
	padding:0px;

    background-image: -webkit-linear-gradient(top, #9a0000 0%,#700000 100%);
    background-image: -moz-linear-gradient(top, #9a0000 0%,#700000 100%);
    background-image: -o-linear-gradient(top, #9a0000 0%,#700000 100%);
    background-image: linear-gradient(top, #9a0000 0%,#700000 100%);

}

div.panel-heading a {
	transition: all 1.3s ease;
}

div.panel-heading a:hover {
	transition: all 0.3s ease;
	background:red;
	display:block;
	
}

div.modal-dialog {
	width:80%;
	min-width:300px;
	max-width:1280px;
}

div.modal-header {
background:#eee;
}

div.modal-header  h4{
font-size:1.5em;
/* letter-spacing:.5px; */
}

/* twitter */

div.views-field.views-field-formatted-tweet {
	border-bottom:1px solid #bbb;
	font-size:.8em;
}

div.views-field.views-field-formatted-tweet a {
	color:#9A0000;
}

div.modal-body {
	padding:0px;
}

div.modal-footer {
	display:none;
}

button.close {
	font-size:2em;
}

div.social-icon {
	background:#bbb;
	float:right;
	padding:4px;
	margin-left:10px;
	border-radius:9px;
	transition: all 0.2s ease;
	display:block;
}

div.social-icon:hover {
	border-radius:0px;
	transition: all 0.3s ease;
	background:#9A0000;
	display:block;
}


div.social-icon img {
	width:21px;
	height:auto;
}

div.social-icon img a {
	
	display:block;
}

div.social-icon img a:hover {
	display:block;
}

 div.modal-body img.portfolio {
	width:100%;
}
div.jumbotron p span {
	font-size:.8em;
}
/*
section#block-views-projects-block-1 div.view div.view-content div.views-row {
margin:0px 1.5% 0px 1.5%;
    float:left;
    padding: 1.5%;
    width: 23%;
	
}

section#block-views-projects-block-1 {
	background:red;
}

section#block-views-projects-block-1 div.view div.view-content div.views-row div.views-field.views-field-field-project-screenshots  {
	
	min-height:170px
}


section#block-views-projects-block-1 div.view div.view-content div.views-row div.views-field.views-field-field-project-screenshots img {
	width:100%;
	height:auto;
}

section#block-views-projects-block-1 div.view div.view-content div.views-row-first {
	
	margin:0% 1% 0% 0% !important;
}

section#block-views-projects-block-1 div.view div.view-content div.views-row-4{
	
	margin:0 0% 0% 1% !important;
}

section#block-views-projects-block-1 div.view div.view-content div.views-row-odd {
	background:#eee;
	transition: all 0.5s ease;
}

section#block-views-projects-block-1 div.view div.view-content div.views-row-odd:hover {
	transition: all 0.3s ease;
  background: red;
 
	
}

section#block-views-projects-block-1 div.view div.view-content div.views-row-even {
	background:#ddd;
	
}
*/


/* HOME */

div.geary-column1-inner.panel-panel-inner,
div.geary-column2-inner.panel-panel-inner,
div.geary-column2-inner.panel-panel-inner {
	
	padding:0% 4%;
}

h2.pane-title {
	margin-top:0px;
}

.front div.views-field.views-field-field-project-screenshots img {
	width:100%;
	height:auto;
}


p.jt-tiny, p.jt-phone, p.jt-MCGA,
p.jt-VGA, p.jt-SVGA, p.jt-XGA, p.jt-XGA-plus,
p.jt-WXGA,
p.jt-HD,
p.jt-SXGA-plus,
p.jt-WXGA-plus,
p.jt-UXGA,
p.jt-WSXGA,
p.jt-FHD,
p.jt-QWXGA,
p.jt-QSXGA,
p.jt-QWXGA-plus,
p.jt-WQSXGA,
p.jt-QFHD,
p.jt-HXGA,
p.jt-massive 
 {
	display:none;
	color:white;
	line-height:140%;
	font-size:.9em;
}

	@media only screen and  (min-width: 0px) and (max-width: 319px) { /*TINY */
		
		p.jt-tiny {
			display:block;
		}
	}
	
	@media only screen and  (min-width: 320px) and (max-width: 480px) { /*PHONE */
	
		p.jt-phone {
			display:block;
		}
	}
	
	
		@media only screen and  (min-width: 481px) and (max-width: 639px) { /* MCGA */
		
		p.jt-MCGA {
			display:block;
		}
	}
	
		@media only screen and  (min-width: 640px) and (max-width: 799px) { /* VGA */
		
		p.jt-VGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 800px) and (max-width: 1023px) { /* SVGA */
		
		p.jt-SVGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1024px) and (max-width: 1151px) { /* WSVGA-XGA */
		
		p.jt-XGA {
			display:block;
		}
	}
	
	@media only screen and  (min-width: 900px) and (max-width: 1199px) { 
	
	.container .jumbotron {
	background:url(../../../../default/files/responsive_970.jpg) top left no-repeat;
	max-width:970px;
	height:332px;
	width:100%;
	font-size:1.35em;
}
	}
	
				@media only screen and  (min-width: 1152px) and (max-width: 1279px) { /* XGA plus */
		
		p.jt-XGA-plus {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1280px) and (max-width: 1359px) { /* WXGA-SXGA */
		
		p.jt-WXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1360px) and (max-width: 1399px) { /* HD */
		
		p.jt-HD {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1400px) and (max-width: 1439px) { /* SXGA plus */
		
		p.jt-SXGA-plus {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1440px) and (max-width: 1599px) { /* WXGA plus */
		
		p.jt-WXGA-plus {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1600px) and (max-width: 1679px) { /* HD plus and UXGA */
		
		p.jt-UXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1680px) and (max-width: 1919px) { /* WSXGA plus */
		
		p.jt-WSXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 1920px) and (max-width: 2047px) { /* FHD and WUXGA */
		
		p.jt-FHD {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 2048px) and (max-width: 2559px) { /* QWXGA and 2K */
		
		p.jt-QWXGA {
			display:block;x 
		}
	}
	
			@media only screen and  (min-width: 2560px) and (max-width: 2879px) { /* WQHD and WQXGA and QSXGA */
		
		p.jt-QSXGA {
			display:block;
		}
	}
	
		@media only screen and  (min-width: 2880px) and (max-width: 3199px) { /* QWXGA plus */
		
		p.jt-QWXGA-plus {
			display:block;
		}
	}
	
		@media only screen and  (min-width: 3200px) and (max-width: 3839px) { /* WQSXGA and QUXGA */
		
		p.jt-WQSXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 3840px) and (max-width: 4095px) { /* QFHD */
		
		p.jt-QFHD {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 4096px) and (max-width: 4999px) { /* 4K and HXGA */
		
		p.jt-HXGA {
			display:block;
		}
	}
	
			@media only screen and  (min-width: 5000px) and (max-width: 9999px) { /* massive */
		
		p.jt-massive {
			display:block;
		}
	}